<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{%url 'dashboard' %}">HOME</a>
    <form action="{%url 'create_book' %}" method="POST" >
    {% csrf_token %}
    <p>Title: <input name="title" type="text"></p>
    <p>Book Author: <input name="author" type="text"></p>
    <p>Review: <input name="review" type="text"></p>
    <p>Rating: <input name="rating" type="text" min="1" max="5" > </p>
    <input type="submit">
    </form>
</body>
</html>