<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{%url 'dashboard' %}">HOME</a>
    <h1>{{books.0}}</h1>
    <h2>Author: {{books.1}}</h2>
    <div>
        {% for reviews in reviews %}
        <p>{{reviews.3}}</p>
        <p> <a href="{% url 'show_user' id=reviews.5 %}">{{reviews.0}}</a>  says : <p>{{reviews.2}}</p> </p>
        <p>{{reviews.4}}</p>
        {% endfor %}
    </div>
    <form action="{% url 'add_review'  %}" method="POST">
        {% csrf_token %}
        <h3>Add Review:</h3>
        <p>Review: <input name="review" type="text"></p>
        <p>Rating: <input name="rating" type="text" min="1" max="5" > </p>
        <input type="submit">
    </form>
</body>
</html>